<app-topnav 
    (toggleSidebar)="sidenav.toggle()"
    (onThemeChangeEvent)="onThemeChange($event)"
></app-topnav>
<mat-sidenav-container autosize>
    <mat-sidenav #sidenav
        mode="side"
        opened="{{ sidenavOpened }}"
        class="sidebar"
        [style.width]="sidebarWidth"
        (resized)="onResized($event)"
    >
        <app-sidebar (toggleSidebar)="sidenav.toggle()"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
